/* You can add global styles to this file, and also import other style files */
:root {
  --color-001: #369;
  --color-002: #444;
  --color-003: #333;
}

h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: var(--color-001);
  font-size: 250%;
}

h2, h3 {
  color: var(--color-002);
  font-weight: lighter;
}

body {
  margin: 2rem;  
}

body, input[type="text"], button {
  color: var(--color-003);
  font-family: Cambria, Georgia;
}

/* everyone else */
* {
  font-family: Arial, Helvetica, sans-serif;
}